body {
  font-family: Arial;
  text-align: center;
  background: #eef2ff;
}

input {
  padding: 10px;
  width: 250px;
}

button {
  padding: 10px;
  cursor: pointer;
  margin: 10px;
}

#output {
  margin-top: 20px;
  padding: 15px;
}
#suggestions {
  width: 250px;
  margin: 0 auto;
  background: white;
  border: 1px solid #ccc;
}

.suggestion {
  padding: 10px;
  cursor: pointer;
}

.suggestion:hover {
  background: #ddd;
}
